/* CONFIGURACION GENERAL */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BODY */
body{
    background:#111;
    color:white;
    font-family:'Barlow',sans-serif;
}

/* MENU */
nav{
    background:black;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
}

/* LOGO */
.logo img{
    width:120px;
}

/* MENU LISTA */
nav ul{
    display:flex;
    list-style:none;
}

/* ESPACIO ENTRE OPCIONES */
nav ul li{
    margin-left:25px;
}

/* LINKS */
nav ul li a{
    text-decoration:none;
    color:white;
    font-size:20px;
    transition:0.3s;
}

/* EFECTO MENU */
nav ul li a:hover{
    color:red;
}

/* HERO */
.hero{
    position:relative;
    width:100%;
    height:90vh;
    overflow:hidden;
}

/* IMAGEN PRINCIPAL */
.hero img{
    width:100%;
    height:100%;
    object-fit:cover;
    filter:brightness(40%);
}

/* TEXTO SOBRE IMAGEN */
.hero-text{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

/* TITULO */
.hero-text h1{
    font-size:100px;
    color:red;
    font-family:'Bebas Neue',sans-serif;
}

/* TEXTO */
.hero-text p{
    font-size:25px;
    margin-top:10px;
}

/* BOTON */
.btn{
    display:inline-block;
    margin-top:20px;
    background:red;
    color:white;
    padding:15px 35px;
    text-decoration:none;
    border-radius:10px;
    transition:0.3s;
}

/* EFECTO BOTON */
.btn:hover{
    background:white;
    color:black;
}

/* QUIENES SOMOS */
.quienes{
    padding:60px;
    text-align:center;
}

/* TITULO */
.quienes h2{
    font-size:45px;
    color:red;
    margin-bottom:20px;
}

/* TEXTO */
.quienes p{
    width:80%;
    margin:auto;
    line-height:35px;
    font-size:20px;
}

/* CONTACTO */
.contacto{
    padding:60px;
    text-align:center;
}

/* TITULO CONTACTO */
.contacto h2{
    color:red;
    font-size:45px;
    margin-bottom:30px;
}

/* TABLA */
table{
    margin:auto;
}

/* CELDAS */
td{
    padding:20px;
    font-size:20px;
}

/* ICONOS */
.icono-contacto{
    width:40px;
}

/* FOOTER */
footer{
    background:black;
    text-align:center;
    padding:30px;
    margin-top:40px;
}

/* LOGO FOOTER */
footer img{
    width:100px;
    margin-bottom:15px;
}